

  .app-container {
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
  }
  .event-container {
    background-color: #64748b;
    width: 60%;
    padding: 20px;
  }
  .events-heading {
    color: white;
    font-family: Roboto;
  }
  .events-list-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 992px) {
}
